.navbar-wrapper{
    color:#ffffff !important;
}

.link-wrapper a{
    color:#ffffff !important;
    padding: 5px
}


@media screen and (min-width:768px) {
    .navbar-brand{
        padding-left:8%;
    }
    
    .navbar-nav{
        padding-right:8%;
    }

}