.home-screen{
    margin-top:56px;
    /* background: url("./bookshelf.jpg"); */
    min-height:95vh;
}

.home-screen .row{
    position: absolute;
    top: 30%;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color:#fff
}

.home-screen::before{
    content: '';
    background:linear-gradient( rgb(0, 123, 255,1), rgba(0, 200, 255, 0.8));
    height: 95%;
    width: 70%;
    left: -20%;
    display: flex;
    position: absolute;
    transform: skewX(-25deg);
    /* z-index: 10; */
}

.lib-img{
    height: 200px;
    width: 50%;
}

@media screen and (max-width:768px){
    .home-screen .row{
        position: absolute;
        top: 20%;
    }

    .home-screen::before{
        background:linear-gradient( rgb(0, 123, 255,1), rgb(0, 200, 255, 0.8));
        height: 75%;
        width: 90vw;
        left: 23px;
        top: 10px;
        transform: skewY(15deg);
    }

    .lib-img{
        height: 60%;
        width: 70%;
    }

    .title{
        font-size: 25px;
    }
}