.login-wrapper{
    margin-top:60px;
    text-align: left;
    /* width: 20% */
    justify-content: center;
}

.svg-container{
    width: 45vw;
}

#name path, #pass path{
    animation: opacity 4s infinite;
}

#name path:nth-child(1){
    animation-delay: 900ms
}
#name path:nth-child(2){
    animation-delay: 750ms
}
#name path:nth-child(3){
    animation-delay: 600ms
}
#name path:nth-child(4){
    animation-delay: 450ms
}
#name path:nth-child(5){
    animation-delay: 300ms
}
#name path:nth-child(6){
    animation-delay: 150ms
}

#pass path:nth-child(1){
    animation-delay: 1500ms
}
#pass path:nth-child(2){
    animation-delay: 1350ms
}
#pass path:nth-child(3){
    animation-delay: 1200ms
}
#pass path:nth-child(4){
    animation-delay: 1050ms
}

@keyframes opacity{
    0%,75% { opacity: 1; }
	100% { opacity: 0; }
}

@media screen and (max-width:768px){
    .svg-container{
        width: 90vw;
    }
}